*.pyc
*.d
*.sw?
*.out
*.out[0-9]
*.o
*.s
*.s[0-9]
*.gen.bc
*.gen.c
*.comb.ll
*.gen.ll
*opt.ll
*.so
icbd/compiler/tests/[0-9]
icbd/compiler/tests/[0-9][0-9]
icbd/compiler/tests/*.hpp
icbd/compiler/tests/*[0-9].cpp
icbd/compiler/tests/Makefile
*.shed
*.ppm
icbd/compiler/dist
*.pyicbd
*.pyd
